In [15]:
import os
import warnings
from google.cloud import bigquery
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "C:/Users/000/AppData/Roaming/gcloud/application_default_credentials.json"
bigquery_client = bigquery.Client(project='000')
warnings.filterwarnings("ignore")

In [17]:
QUERY = """
select play_cnt, count(adid) as user_cnt_per_play_cnt
from `000000000000000000000000`  
where app_seq = '00'  
and event_date = '00000000'  
and play_cnt is not null
group by 1
order by 1
"""
query_job = bigquery_client.query(QUERY)
d = query_job.to_dataframe()
d.shape

(430, 2)

In [18]:
d.head(5)

   play_cnt  user_cnt_per_play_cnt
0         1                    642
1         2                    384
2         3                    403
3         4                    307
4         5                    335